<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".welcome.StartActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".welcome.SignupActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".welcome.WelcomeActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".welcome.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".difficulty_menu.DifficultyMenu"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".leaderboard.LeaderboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".game_board.GameboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tutorial.Tutorial"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tutorial.Tutorial2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tutorial.Tutorial3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tutorial.Tutorial4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".checkmate.CheckmateScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main_menu.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication"
            android:screenOrientation="portrait" />

        <activity
            android:name=".customize.CustomizeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>